.conda
.venvs
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.cache/
cache/
caches/
.ipynb_checkpoints/
runs/
artifacts/
*.bkp
*.drawio.dtmp
~$*
cnn_fpga/benchmark/__pycache__/
cnn_fpga/utils/__pycache__/
relative_papers/
patent/