// T5.5.2 package-pin constraints for the synthesis-only activity harness.
// Clock/reset follow Sipeed official examples.  seed/status use the official
// LCD connector pin range; this is not the final T6 transport pinout.
IO_LOC "clk" 4;
IO_PORT "clk" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "reset_n" 88;
IO_PORT "reset_n" PULL_MODE=UP IO_TYPE=LVCMOS33;

IO_LOC "seed_in[0]" 25;
IO_LOC "seed_in[1]" 26;
IO_LOC "seed_in[2]" 27;
IO_LOC "seed_in[3]" 28;
IO_LOC "seed_in[4]" 29;
IO_LOC "seed_in[5]" 30;
IO_LOC "seed_in[6]" 31;
IO_LOC "seed_in[7]" 32;
IO_PORT "seed_in[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_PORT "seed_in[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_PORT "seed_in[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_PORT "seed_in[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_PORT "seed_in[4]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_PORT "seed_in[5]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_PORT "seed_in[6]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_PORT "seed_in[7]" PULL_MODE=UP IO_TYPE=LVCMOS33;

IO_LOC "status_out[0]" 33;
IO_LOC "status_out[1]" 34;
IO_LOC "status_out[2]" 35;
IO_LOC "status_out[3]" 36;
IO_LOC "status_out[4]" 37;
IO_LOC "status_out[5]" 38;
IO_LOC "status_out[6]" 39;
IO_LOC "status_out[7]" 40;
IO_PORT "status_out[0]" DRIVE=8 IO_TYPE=LVCMOS33;
IO_PORT "status_out[1]" DRIVE=8 IO_TYPE=LVCMOS33;
IO_PORT "status_out[2]" DRIVE=8 IO_TYPE=LVCMOS33;
IO_PORT "status_out[3]" DRIVE=8 IO_TYPE=LVCMOS33;
IO_PORT "status_out[4]" DRIVE=8 IO_TYPE=LVCMOS33;
IO_PORT "status_out[5]" DRIVE=8 IO_TYPE=LVCMOS33;
IO_PORT "status_out[6]" DRIVE=8 IO_TYPE=LVCMOS33;
IO_PORT "status_out[7]" DRIVE=8 IO_TYPE=LVCMOS33;
